name: Release

on:
  push:
    tags: ["v*.*.*"]

permissions: {}

jobs:
  release:
    name: Release
    uses: grafana/k6-extension-workflows/.github/workflows/release.yml@f1ccc7a2050f08545d5116d4530472018247114d # v0.2.1
    with:
      private: true
      os: '["linux","windows","darwin"]'
