name: Validate

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions: {}

jobs:
  validate:
    name: Validate
    uses: grafana/k6-extension-workflows/.github/workflows/validate.yml@f1ccc7a2050f08545d5116d4530472018247114d # v0.2.1
    with:
      go-versions: '["1.23.x"]'
